$slate-gray: rgba(112, 128, 144, 1);

#scStayTheFuckHomeContent {
  a.externalURL {
    background-image: none !important;
    padding-left: 0 !important;
  }

  .messageShareButtons ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 18px;
  }

  .disclaimer {
    font-size: 12px;
    color: $slate-gray;
  }
}
